__pycache__/
*.py[cod]
*$py.class
*.pyo

.venv/
venv/
env/
ENV/
.venv*/
*.env

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db

*.log
*.out
*.bak
*.tmp
.cache/
*.pytest_cache/
.coverage
htmlcov/
__pypackages__/

build/
dist/
*.egg-info/
.eggs/

.env
.env.*
*.secret
*.key
*.pem
*.crt

.ipynb_checkpoints/

*.db
*.sqlite3

*.spec

coverage.xml
pytest.xml
test-results/

*~
*.swp
*.swo
